li {
    font-style: italic;
    color: blue;
    font-family: 'Comic Sans MS'
}
h1 {
    font-family: 'Comic Sans MS';
}
#image {
    background-image: url(AlbumCover.jpeg);
    background-repeat: no-repeat;
}
a:hover{
    text-decoration: underline;
    background-color:blue;
    color: white; 
}
tbody {
    font-style: italic;
}