h1 {
    color:darkred;
    font-style: italic;
    text-decoration:underline;
    font-family: 'Comic Sans MS'; 
}

footer {
    color:darkred;
    border: 3px darkred dashed;
}
form {
    font-weight: bold;
}
a:visited {
    color:darkgreen;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}